@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {background-color: #1E1828;}
pre {
	color: #FFFFFF;
	font-family: montserrat;
	font-size: 13px;
	line-height: 14pt;
}

hr {
	border: 1px solid #362B48;
}

a:hover {
	color: #BE68FF;
}

a {
	color: #D6A0FF;
	font-family: montserrat;
	font-size: 13px;
	line-height: 14pt;
	text-decoration: none
}

.special {
	color: #D6A0FF;
	font-family: monospace;
	line-height: 10pt;
}

.pagebutton:hover {
	color: white;
}

.pagebutton {
	background-color: #362B48;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	font-family: montserrat;
}

.content {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.center {
	text-align: center;
}
